---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: { post: post.id.split("_")[1] },
        props: { post }
    }))
};

const { post } = Astro.props;
const { Content } = await render(post);

import ContentPage from '@layouts/ContentPage.astro';
import Date from '@components/ui/Date.astro';
---
<ContentPage title={post.data.title} header="Blog">
    <header>
        <h1>{post.data.title}</h1>
        {post.data.updateDate && <Date date={post.data.updateDate} />}
        <Date date={post.data.date} appendString={post.data.updateDate && 'original'} />
    </header>
    <div class="content">
        <div class="content-text pad child-margin-fix">
            <Content />
            <a href="#top" class="back-to-top">back to top</a>
        </div>
    </div>
</ContentPage>

<script lang="ts">
    navigation.addEventListener('navigate', (event) => {
        if (event.destination.sameDocument != true) {
            return;
        }

        if (!event.destination.url.includes('fnref')) {
            return;
        }

        const highlightElement = document.querySelector(`#${event.destination.url.split("#")[1]}`).parentElement.parentElement;
        highlightElement.classList.add('highlight');
        setTimeout(continueHighlight, 1000, highlightElement);
    })

    function continueHighlight(highlightElement) {
        highlightElement.style.transition = "background-color 1s ease"
        highlightElement.classList.remove('highlight');
        setTimeout(endHighlight, 1000, highlightElement);
    }

    function endHighlight(highlightElement) {
        highlightElement.style.transition = '';
    }
</script>

<style lang="scss">
    header {
        h1 {
            font-family: var(--serif-font);
            font-size: 1.6rem;
            font-style: italic;
            font-weight: normal;
        }
    }

    .content-text {
        width: 100%;
    }

    .back-to-top {
        font-style: italic;
    }

    :global(.highlight) {
        background-color: #ffde64;
    }

    @media (min-width: 768px) {
        .content-text {
            max-width: 35rem;
        }
    }
</style>