---
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const posts = await getCollection('blog');

    return posts.map((post) => ({
        params: { post: post.id },
        props: { post }
    }))
};

const { post } = Astro.props;
const { Content } = await render(post);

import ContentPage from '@layouts/ContentPage.astro';
import Date from '@components/Date.astro';
---
<ContentPage title="Blog">
    <header>
        <h1>{post.data.title}</h1>
        {post.data.updateDate && <Date date={post.data.updateDate} />}
        <Date date={post.data.date} appendString={post.data.updateDate && 'original'} />
    </header>
    <div class="content">
        <div class="content-text pad child-margin-fix">
            <Content />
            <a href="#top" class="back-to-top">back to top</a>
        </div>
    </div>
</ContentPage>

<style lang="scss">
    header {
        h1 {
            font-family: var(--serif-font);
            font-size: 1.6rem;
            font-style: italic;
            font-weight: normal;
        }
    }

    .content-text {
        outline: var(--outline);
        width: 100%;

        & > :global(:nth-last-child(2))::after {
            content: " ■";
        }
    }

    .back-to-top {
        font-style: italic;
    }

    @media (min-width: 768px) {
        .content-text {
            max-width: 25rem;
        }
    }
</style>