---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";

const pageTitle = '/blog';
const collectionName = pageTitle.slice(1);
---

<BaseLayout {pageTitle}>
    <h2>{pageTitle.slice(1)}</h2>

    <PostList {collectionName}/>
</BaseLayout>