@charset "utf-8";
@import '_dark';

// variables
$base-font-family: 'Martian Mono', monospace !default;
$base-font-size: 13px !default;
$mobile-font-size: 16px !default;
$base-line-height: 1.5 !default;
$container-width: 90% !default;
$container-max-width: 700px !default;

// text styling
html {
    text-size-adjust: none;
    font-size: $base-font-size;
    font-family: $base-font-family;

    @media only screen and (max-width: 500px) {
        font-size: $mobile-font-size
    }
}

body {
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0;
    color: var(--text-color);
    text-align: left;
    line-height: $base-line-height !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: bold;
    color: var(--text-color);
}

h1,
h2,
h3 {
    margin-top: 22px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-weight: 800;
    font-size: 1.4rem;
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

p,
ul,
ol {
    margin: 0px;
    color: var(--text-color);
}

a {
    text-decoration: underline;
    color: var(--link-color);

    &:hover {
        color: var(--background-color);
        background-color: var(--base-color);
    }
}

// layout
body {
    width: $container-width;
    max-width: $container-max-width;
    margin-right: auto;
    margin-left: auto;
}

p {
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    margin-bottom: 15px;
}

hr {
    text-align: center;
    border: 0;

    &:before {
        content: '//////////////////';
    }

    &:after {
        content: attr(data-content) '//////////////////';
    }
}

header {
    margin-top: 25px;
    margin-bottom: 20px;

    p {
        text-align: left;
        margin: 0;
    }
}

footer {
    color: var(--text-color);
    border-top: var(--border);
    margin: 20px auto 15px;
    padding-top: 10px;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-bottom: 2rem;

    .box {
        min-width: 250px;
        width: 45%;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    @media only screen and (max-device-width: 500px) {
        flex-direction: column;

        .box {
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}


// highlight, markup
::selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

// list styling
ul {
    list-style: none;
    list-style-type: none;
    padding-left: 0;

    >li:before {
        content: "-";
        margin-right: 9px;
    }
}

.unstyled-list>li {
    &:before {
        content: none;
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: var(--text-color);
    }

    a:hover {
        text-decoration: none;
        color: var(--background-color);
        background-color: var(--base-color);
    }
}

// nav menu
.menu {
    border-top: var(--border);
    border-bottom: var(--border);

    ul {
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 0px;
        text-align: right;
        display: flex;
        flex-flow: row wrap;
        justify-content: end;
    }

    ul>li {
        display: inline;
        margin-left: 10px;
    }
}

// form
input,
select,
textarea {
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

input[type=text],
select,
textarea {
    width: 100%;
    resize: none;
    background-color: var(--background-color);
    color: var(--text-color);
    caret-color: var(--text-color);
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
}

input,
select,
textarea,
textarea::-webkit-input-placeholder {
    text-indent: 0px;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--placeholder-color);
}

::-ms-input-placeholder {
    color: var(--placeholder-color);
}

input[type=submit] {
    font-size: $base-font-size;
    font-family: $base-font-family;
    line-height: $base-line-height;
    cursor: pointer;
    color: var(--link-color);
    background-color: var(--background-color);
}

input[type=submit]:hover {
    color: var(--background-color);
    background-color: var(--base-color);
}

*:focus {
    outline: none;
}

textarea {
    vertical-align: top;
}

// code and syntax highlighting
code {
    padding: 3px 5px;
    border-radius: 4px;
}

code > span:nth-child(1) {
    padding: 3px 0px;
}

code > span {
    padding: 3px 5px;
}