---
import Analytics from '@components/Analytics.astro';
import '@styles/global.scss'

const isProd = import.meta.env.PROD;
---

<html lang="en">
	<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>error 404</title>
    
        {isProd && <Analytics domainCode="bustinbung"/>}
    </head>

	<body class="error-body">
        <main class="page-content" aria-label="content">
            <div class="wrapper">
                <span class="error-header">bustinbung</span><br />
    
                A fatal exception ERROR 404 has occurred at <span class="current-page-url">{Astro.url.pathname}</span>. Ensure that the link was entered correctly and
                submit issues via <a href="mailto:justin@bustinbung.com" target="_blank">email</a> or
                <a href="https://github.com/bustinbung/bustinbung.com/issues" target="_blank">GitHub</a>.
                <br/><br/>
                * Click "Home" to return to the home page.<br/>
                * Click "Back" to go to the previous page.<br/><br/>
    
                <span class="error-links">
                    <a href="/">Home</a> | <a href="javascript:history.back()">Back</a>
                </span>
            </div>
        </main>
    </body>
</html>

<style is:global>
    .error-body {
	background-color: blue;
	color: white;
	font-weight: bold;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    div {
        position: relative;
    }

    .error-header {
        background-color: white;
        color: blue;
        display: table;
        margin: 0 auto;
    }

    .error-links {
        display: table;
        margin: 0 auto;
    }
</style>