---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="/">
    <h2 class="center">justin jung // a student of media and music</h2><br>
    <p class="center">hi there, and welcome to my site!</p>
</BaseLayout>

<style>
    .center {
        text-align: center;
    }
    
    h2 {
        text-decoration: none; 
    }
</style>
