---
import Gradient from '@components/Gradient.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageTitle="/">
    <Gradient />
    <h1 class="center">hi, i'm justin.</h2><br>
    <p class="center">student. filmmaker. developer. musician.</p>
</BaseLayout>

<style>
    .center {
        text-align: center;
    }
    
    h2 {
        text-decoration: none; 
    }
</style>
