---
import Page from "@layouts/Page.astro";
// import NavbarDesktop from "@components/NavbarDesktop.astro";
import Navbar from "@components/Navbar.astro";
import { Image } from "astro:assets";

import reelImg from "@assets/img/16-9.jpg";
---
<Page title="Home">
    <div class="page">
        <main>
            <div class="content">
                <header>
                    <h1>hi, i’m justin.</h1>
                    <p>student. filmmaker.<br>developer. musician.</p>
                </header>
                <div class="reel">
                    <Image src={reelImg} alt="Justin's reel." loading="eager"/>
                </div>
            </div>
        </main>
        <Navbar />
    </div>
</Page>

<style lang="scss">
    main {
        display: flex;
        height: 100%;
        grid-template-rows: repeat(2, 1fr);
        gap: 1px;
    }

    .page {
        justify-content: space-between;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        padding: var(--global-padding);
        outline: var(--outline);
        box-sizing: content-box;

        h1 {
            font-size: 2.6rem;
        }

        p {
            font-family: var(--serif-font);
            font-weight: normal;
            font-style: italic;
            font-size: 1.2rem;
            color: var(--secondary-color);
            margin-block: 0;
        }
    }
    
    .reel {
        outline: var(--outline);
        display: flex;
    }
</style>