---
import BaseLayout from '@layouts/BaseLayout.astro';
import Gradient from '@components/Gradient.astro';
---

<BaseLayout pageTitle="/">
    <Gradient />
    <div class="hero-content">
        <h1>hi, i'm justin.</h1>
        <span class="subtitle-container"><i>student. filmmaker. developer. musician.</i></span>
    </div>
</BaseLayout>

<style>
    .hero-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        position: absolute;
    }

    h1 {
        font-size: 64px;
    }

    i {
        font-size: 25px;
        color: var(--secondary-color);
        width: 20ch;
    }

    h1, i, span {
        margin: 0px;
        text-align: center;
    }

    span {
        container-type: inline-size;
        width: 100%;

        display: flex;
        justify-content: center;
    }

    @container (width > 400px) {
        i {
            width: 100%;
        }
    }

    @media screen and (min-width: 500px) {
        .hero-content {
            align-items: flex-start;
        }

        h1, i, span {
            text-align: left;
        }
    }

    /* Override styles only on this page:
       <main> needs overflow: hidden to hide gradient
    */
    :global(main) {
        overflow: hidden;
    }
</style>
