---
import BaseLayout from '@layouts/BaseLayout.astro';
import Gradient from '@components/Gradient.astro';
---

<BaseLayout pageTitle="/">
    <Gradient />
    <h1>hi, i'm justin.</h1>
    <span class="subtitle-container"><i>student. filmmaker. developer. musician.</i></span>
</BaseLayout>

<style>
    h1 {
        font-size: 64px;
    }

    i {
        font-size: 25px;
        color: var(--secondary-color);
        width: 20ch;
    }

    h1, i, span {
        margin: 0;
        text-align: center;
    }

    span {
        container-type: inline-size;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @container (width > 400px) {
        i {
            width: 100%;
        }
    }

    @media screen and (width >= 500px) {
        h1, i, span {
            text-align: left;
        }

        main {
            align-items: flex-start;
        }
    }

    /* Override styles only on this page */
    :global(main) {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media screen and (width >= 500px) {
            align-items: flex-start;
        }
    }
</style>
