<!-- Goatcounter Analytics -->
<div>
	<script
		data-goatcounter=`https://bustinbung.goatcounter.com/count`
		async
		src="//gc.zgo.at/count.js"
	></script>
</div>

<style>
	div {
		display: none;
	}
</style>