---
const pages: {title: string, url?: string}[] = [
    {
        title: 'home',
        url: '/'
    },
    {
        title: 'about'
    },
    {
        title: 'projects'
    },
    {
        title: 'blog'
    },
];
---

<header>
    <ul class="navbar">
        {pages.map(page => <li class="navbar-item"><a href={page.url ? page.url : `/${page.title}`} class="navbar-link">{page.title}</a></li>)}
    </ul>
</header>