---
interface Props {
    fontSizeOverride?: string,
    paddingScale?: string
}

const { fontSizeOverride = "1.2rem", paddingScale = "0.5"} = Astro.props;
---
<nav id="desktop" class="desktop">
    <div class="nav-item"><a href="/">home</a></div>
    <div class="nav-item"><a href="/about">about</a></div>
    <div class="nav-item"><a href="/work">work</a></div>
    <div class="nav-item"><a href="/blog">blog</a></div>
</nav>

<style lang="scss" define:vars={{fontSizeOverride, paddingScale}}>
    nav {
        width: 100%;
        display: none;
        grid-template-columns: repeat(4, 1fr);
        gap: 1px;
        outline: var(--outline);
        font-family: var(--sans-serif-font);
        font-weight: 500;

        position: absolute;
        bottom: var(--global-padding);
    }

    .nav-item {
        padding-block: calc(var(--global-padding) * var(--paddingScale));
        display: flex;
        justify-content: center;
        outline: var(--outline);
        font-size: var(--fontSizeOverride);
    }

    a {
        text-decoration: none;
        color: var(--fg-color);
    }

    @media only screen and (min-width: 768px) {
        nav {
            display: grid;
        }
    }
</style>