---
interface Props {
    collectionName: string,
}

import { getCollection } from 'astro:content';

import TagList from '@components/TagList.astro';
import DateDisplay from '@components/DateDisplay.astro';

const { collectionName } = Astro.props;

const collection = await getCollection(collectionName, ({data}) => {
    return import.meta.env.PROD ? data.hide !== true : true;
});

collection.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<div class="post-collection-wrapper">
    {collection.map(entry => (
            <div class="post-wrapper">
                <h3>{entry.data.title}</h3>
                <i><DateDisplay date={entry.data.date}/></i>
                <p>{entry.data.description}</p>
            </div>
        )
    )}
</div>

<style>
    .post-collection-wrapper {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        flex-flow: row nowrap;
        gap: var(--main-padding);
        margin-inline: calc(-1 * var(--main-padding));
        padding-inline: var(--main-padding);
    }

    .post-wrapper {
        border: var(--border);
        min-width: calc(100vw - 4 * var(--main-padding))
    }
</style>