---
interface Props {
    tags: Array<string>
}

const { tags } = Astro.props;
---

<span class="tags">
    {tags.map((tag, index) => 
        <span>
            <a href=`/tags/${tag}` class="tag-link">{tag}</a>{(tags.length - 1 !== index) && ', '}
        </span>
        
    )}
</span>

<style>
    .tags {
	    float: right;
    }
</style>