---
import BaseLayout from "@layouts/BaseLayout.astro";
import PostList from "@components/PostList.astro";

const pageTitle = 'projects';
---

<BaseLayout {pageTitle}>
    <h1>projects</h1>

    <h2>visual media</h2>
    <PostList collectionName="visual" />
</BaseLayout>