@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Bold Italic'), local('PPWriter-BoldItalic'),
        url('fonts/PPWriter/PPWriter-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Black Text'), local('PPWriter-BlackText'),
        url('fonts/PPWriter/PPWriter-BlackText.woff2') format('woff2');
    font-weight: 905;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Black Italic'), local('PPWriter-BlackItalic'),
        url('fonts/PPWriter/PPWriter-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Bold'), local('PPWriter-Bold'),
        url('fonts/PPWriter/PPWriter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Black'), local('PPWriter-Black'),
        url('fonts/PPWriter/PPWriter-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Bold Text'), local('PPWriter-BoldText'),
        url('fonts/PPWriter/PPWriter-BoldText.woff2') format('woff2');
    font-weight: 705;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Book Text'), local('PPWriter-BookText'),
        url('fonts/PPWriter/PPWriter-BookText.woff2') format('woff2');
    font-weight: 345;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Thin'), local('PPWriter-Thin'),
        url('fonts/PPWriter/PPWriter-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Regular'), local('PPWriter-Regular'),
        url('fonts/PPWriter/PPWriter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Book Italic'), local('PPWriter-BookItalic'),
        url('fonts/PPWriter/PPWriter-BookItalic.woff2') format('woff2');
    font-weight: 340;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Book'), local('PPWriter-Book'),
        url('fonts/PPWriter/PPWriter-Book.woff2') format('woff2');
    font-weight: 340;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Regular Italic'), local('PPWriter-RegularItalic'),
        url('fonts/PPWriter/PPWriter-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Regular Text'), local('PPWriter-RegularText'),
        url('fonts/PPWriter/PPWriter-RegularText.woff2') format('woff2');
    font-weight: 405;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Ultralight Text'), local('PPWriter-UltralightText'),
        url('fonts/PPWriter/PPWriter-UltralightText.woff2') format('woff2');
    font-weight: 185;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Ultrabold Italic'), local('PPWriter-UltraboldItalic'),
        url('fonts/PPWriter/PPWriter-UltraboldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Thin Text'), local('PPWriter-ThinText'),
        url('fonts/PPWriter/PPWriter-ThinText.woff2') format('woff2');
    font-weight: 105;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Ultrabold'), local('PPWriter-Ultrabold'),
        url('fonts/PPWriter/PPWriter-Ultrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Writer';
    src: local('PP Writer Thin Italic'), local('PPWriter-ThinItalic'),
        url('fonts/PPWriter/PPWriter-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
