---
interface Props {
    title: string
}

import Page from "@layouts/Page.astro";
import Navbar from "@components/ui/Navbar.astro";
import NavbarDesktop from "@components/ui/NavbarDesktop.astro";

const { title } = Astro.props;
---
<Page {title}>
    <div class="page">
        <NavbarDesktop />
        <main>
            <header class="page-title">
                <a href=`/${title.toLowerCase()}` class="header-link">
                    <h1>{title.toLowerCase()}</h1>
                </a>
            </header>
            <slot />
        </main>
        <Navbar />
    </div>
</Page>

<style lang="scss">
    main {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-grow: 1;
        gap: 1px;
    }

    header {
        display: flex;
        align-items: center;
    }

    .header-link {
        text-decoration: none;
    }
</style>